@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --secondary: #3b82f6;
  --bg-dark: #0f172a;
  --bg-surface: #1e293b;
  --accent-light: #60a5fa;
  --accent-dark: #1d4ed8;
}

.dot {
  width: 6px;
  height: 6px;
  background: #9ca3af;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.delay-1 {
  animation-delay: .2s;
}

.delay-2 {
  animation-delay: .4s;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a555e;
}

/* Chrome / Edge autofill override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset;
  /* naya dark bg color */
  box-shadow: 0 0 0px 1000px #0f172a inset;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}